<div class="row" id="error">
    <div class="span12">
        <p class="error">
            <img src="/assets/images/error.png"> Sorry, but we couldn't find any {{ type }} errors that match your search.<br><br><strong>Tip</strong>: if your search contains variable or function identifiers from your own code, try removing them. All of our article titles are generic and use placeholders instead of the identifiers that JSLint will actually include in your error message.
        </p>
    </div>
</div>