---
layout: default
title: Making Your Feelings Better
---
{% capture num_posts %}{{ site.posts | size | divided_by:2 }}{% endcapture %}
<div class="row">
	<div class="span6">
		<h2>
			JSLint Errors
		</h2>
	</div>
	<div class="span6">
		<form class="form-horizontal pull-right">
			<fieldset>
				<div class="control-group">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on">
								<img src="{{ site.url }}/assets/images/magnifier.png" alt="Search">
							</span><input id="filter" placeholder="Search JSLint error messages">
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="row">
	<div class="span6">
		<ul class="posts">
		    {% for post in site.posts limit:num_posts %}
		    <li>
		        <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
		        <p>
		            {{ post.content | strip_html | strip_newlines | truncatewords:30 }}
		        </p>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	<div class="span6">
		<ul class="posts">
		    {% for post in site.posts offset:num_posts %}
		    <li>
		        <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
		        <p>
		            {{ post.content | strip_html | strip_newlines | truncatewords:30 }}
		        </p>
		    </li>
		    {% endfor %}
		</ul>
	</div>
</div>