---
layout: default
title: Making Your Feelings Better
---
{% capture num_posts %}{{ site.posts | size | divided_by:2 }}{% endcapture %}
<h2 class="section-header">JSLint Errors</h2>
<div class="row">
	<div class="span6">
		<ul class="posts">
		    {% for post in site.posts limit:num_posts %}
		    <li>
		        <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
		        <p>
		            {{ post.content | strip_html | strip_newlines | truncatewords:30 }}
		        </p>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	<div class="span6">
		<ul class="posts">
		    {% for post in site.posts offset:num_posts %}
		    <li>
		        <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
		        <p>
		            {{ post.content | strip_html | strip_newlines | truncatewords:30 }}
		        </p>
		    </li>
		    {% endfor %}
		</ul>
	</div>
</div>