{{> top}}
<div class="row">
	<div class="span12">
		<h2>{{ title }}</h2>
	</div>
</div>
<div class="row social">
	<div class="span12">
		<div class="g-plusone" data-size="medium"></div>
		<script type="text/javascript">(function(){var po=document.createElement('script');po.type='text/javascript';po.async=true;po.src='https://apis.google.com/js/plusone.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(po,s);})();</script>
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-related="james_allardice">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	</div>
</div>
<div class="row">
	<div class="span12 article">
    {{> yield}}
	</div>
</div>
{{#author}}
<hr>
<div class="row author">
	<div class="span12">
		<img src="{{ avatar }}" alt="{{ name }}">
    <p>This article was written by <strong>{{ name }}</strong>, {{{desc}}}</p>
		<p>
			You can <a href="https://twitter.com/{{ twitter }}">follow him on Twitter</a>, <a href="https://github.com/{{ github }}">fork him on GitHub</a> and <a href="{{ gplus }}">find him on Google+</a>.
		</p>
	</div>
</div>
{{/author}}
{{> ads}}
<hr>
<div class="row">
	<div class="span12">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = "jslinterrors";
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>
{{> bottom}}
