			<hr class="dark">
			<div class="row">
				<div class="span12">
	    			JSLint Error Explanations is brought to you by <a href="http://www.jamesallardice.com/">James Allardice</a>. Copyright &copy; 2012.
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/jslint/jslint.js"></script>
		<script src="/assets/codemirror/codemirror.js"></script>
		<script src="/assets/codemirror/javascript.js"></script>
		<script>
			function runLint(editor) {
				var editorInput = $(editor.getInputField()),
					codeMirror = editorInput.closest(".CodeMirror"),
					outputHolder = editorInput.closest(".jslint").find(".jslint-output"),
					messageHolder = outputHolder.find(".jslint-messages"),
					result = JSLINT(editor.getValue()),
					errors = JSLINT.errors,
					numErrors = errors.length,
					i;
				outputHolder.find(".jslint-result").text(function () {
					return result ? "JSLint found no errors." : "JSLint found errors.";
				}).removeClass("jslint-result-success jslint-result-error").addClass(function () {
					return result ? "jslint-result-success" : "jslint-result-error";
				});
				messageHolder.empty();
				for (i = 0; i < numErrors; i++) {
					messageHolder.append("<p>" + errors[i].reason + "</p>");
				}
				codeMirror.height(Math.max(codeMirror.height(), outputHolder.height()));
			}

			var codeMirrorOpts = {
				indentWithTabs: true,
				onKeyEvent: runLint
			};

			$(function () {
				var jslintOutputs = $(".jslint-output");
				jslintOutputs.append("<div class='jslint-result'></div>");
				jslintOutputs.append("<div class='jslint-messages'></div>");
				$("textarea").each(function () {
					var mirror = CodeMirror.fromTextArea(this, codeMirrorOpts);
					runLint(mirror);
				});
			});
		</script>
	</body>
</html>