<div class="row">
    <div class="span6">
        <h2 id="posts-title">
            {{ title }}
        </h2>
        <h6>
            <i class="icon-arrow-left"></i> <a href="/">Back to all JSLint &amp; JSHint error messages</a>
        </h6>
    </div>
    <div class="span6">
        <form class="form-horizontal pull-right">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">
                                <img src="/assets/images/magnifier.png" alt="Search">
                            </span><input id="filter" placeholder="{{ search }}">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>