{% include top.html %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h2 class="section-header">Welcome!</h2>
                <p>
                    <a href="http://jslint.com">JSLint</a> seems to be proud of the fact that it will "hurt your feelings". Well that's OK, but it would be nice if it made it a bit clearer why it was hurting them.
                </p>
                <p>
                    JSLint Error Explanations is designed to help you improve your JavaScript by understanding the sometimes cryptic error messages produced by JSLint, and teaching you how to avoid such errors.
                </p>
                <p>
                    Have you found a JSLint error message not listed here? Have you noticed a mistake in one of the explanations? Don't hesitate to <a href="http://www.jamesallardice.com/contact/">get in touch</a> and let me know.
                </p>
            </div>
        </div>
        <hr class="dark">
        <div class="row">
            <div class="span12">
                {{content}}
            </div>
        </div>
    </div>
</div>
{% include bottom.html %}