{% include top.html %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h2 class="section-header">Welcome!</h2>
                <p>
                    <a href="http://jslint.com">JSLint</a> seems to be proud of the fact that it will "hurt your feelings". Well that's OK, but it would be nice if it made it a bit clearer why it was hurting them.
                </p>
                <p>
                    JSLint Error Explanations is designed to help you improve your JavaScript by understanding the sometimes cryptic error messages produced by JSLint, and teaching you how to avoid such errors.
                </p>
                <p>
                    This site is still a work in progress. Not all JSLint error messages are documented here yet. The code is all <a href="https://github.com/jamesallardice/jslint-error-explanations">available on GitHub</a> if you would like to help out! Alternatively, you can request an article for a specific error message by <a href="http://www.jamesallardice.com/contact/">contacting me</a> or raising an <a href="https://github.com/jamesallardice/jslint-error-explanations/issues">issue on GitHub</a>.
                </p>
            </div>
        </div>
        <hr class="dark">
        <div class="row">
            <div class="span12">
                {{content}}
            </div>
        </div>
    </div>
</div>
{% include bottom.html %}